### File used to multiply 2016 demand data with scale factors for CA 2020 and CA 2030 simulations. Scale factors were obtained from demand projections by CED, researched and provided by Yixing Xu.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn; seaborn.set()
%matplotlib inline

import os
import sys
sys.path.append("..")

In [2]:
if sys.platform == "darwin":
    basedir1= "/Volumes/Renewable Energy/EnergyGridModeling/Data/Western/demand_data/processed/"
elif sys.platform == "win32":
    basedir1 = 'L:\\Renewable Energy\\EnergyGridModeling\\Data\\Western\\demand_data\\processed\\'

In [3]:
dir_sf = 'U:\\src\\PreREISE\\prereise\\gather\\demanddata\\EIA\\demo\\data\\CA2045\\'
save_dir = 'L:\\Renewable Energy\\EnergyGridModeling\\Data\\Western\\demand_data\\processed\\CA2045\\'
dir_ba = 'L:\\Renewable Energy\\EnergyGridModeling\\Data\\Western\\demand_data\\processed\\'

dir_ba = basedir1
save_dir = basedir1 + 'CA2045/'

demand_file = 'demand_2016_v3.0.csv'
demand = pd.read_csv(dir_ba + demand_file, header=0, parse_dates=True, index_col='UTC Time' )

### Scaling for CA2020, CA30 simulations
We want to rescale V3 as follows for 2020 and 2030
* For CA: use the demand projections sent by Yixing (CED 2017 Mid Energy Demand): multiply the CA values so that total CA demand matches these 2020 and 2030 projections
* For non-CA regions, use 1% per year: demand(n years later) = demand_2016*(1.01)^n
* CED Mid Energy projection: CA_2020 total = 295,773 units, CA_2030 total = 339,160 units

Calculate CA scale factors from 2016 to 2020, 2016 to 2030

In [4]:
demand.columns

Index(['WA', 'OR', 'Northern_California', 'Bay_Area', 'Central_California',
       'Southwest_California', 'Southeast_California', 'NV', 'AZ', 'UT', 'NM',
       'CO', 'WY', 'ID', 'MT', 'El_Paso'],
      dtype='object')

In [5]:
CA = [ 'Northern_California', 'Bay_Area', 'Central_California',
       'Southwest_California', 'Southeast_California']
notCA = ['WA', 'OR','NV', 'AZ', 'UT', 'NM','CO', 'WY', 'ID', 'MT', 'El_Paso']

In [6]:
CA_total_demand_2016 = 0
for region in CA:
    CA_total_demand_2016 = CA_total_demand_2016 + demand[region].sum()

print('CA total demand in 2016 = ', CA_total_demand_2016)

CA total demand in 2016 =  309726478.3213058

In [7]:
CED_total_2020 = 295773000
CED_total_2030 = 339160000
CA_scale_factor_2020 = CED_total_2020/CA_total_demand_2016
CA_scale_factor_2030 = CED_total_2030/CA_total_demand_2016
print('CA_scale_factor_2020 = ', CA_scale_factor_2020)
print('CA_scale_factor_2030 = ', CA_scale_factor_2030)

CA_scale_factor_2020 =  0.9549490298765135
CA_scale_factor_2030 =  1.095030692365153

In [8]:
demand.head()

,WA,OR,Northern_California,Bay_Area,Central_California,Southwest_California,Southeast_California,NV,AZ,UT,NM,CO,WY,ID,MT,El_Paso
UTC Time,,,,,,,,,,,,,,,,
2016-01-01 00:00:00,13138.912133,7931.272718,4581.756302,5449.448081,3965.918300,10555.926843,7989.278249,4056.247137,9426.158568,2534.103646,1658.372105,6708.794441,496.456805,3257.385204,2016.655782,758.066951
2016-01-01 01:00:00,14196.128429,8424.215303,4794.128149,5589.061115,4111.185362,10830.337635,8212.393905,4354.862679,10440.773078,2735.707286,1840.977527,7305.715316,534.203336,3525.861816,2157.699159,847.461639
2016-01-01 02:00:00,15082.202594,8911.571165,5105.196144,5807.213483,4353.274565,11506.886265,8563.456938,4698.825256,11011.825237,2807.643502,1894.560512,7302.806917,545.308564,3658.207485,2184.240223,883.219514
2016-01-01 03:00:00,14920.258797,8719.531664,5395.370535,6456.008283,4686.633401,12567.699557,9479.417089,4743.868179,10879.628060,2673.491562,1860.462225,7096.438206,527.067132,3596.384574,2143.173289,857.295054
2016-01-01 04:00:00,14510.137138,8578.207176,5372.862689,6513.830394,4677.593622,12587.519675,9554.647468,4665.608571,10710.396212,2743.516026,1847.336200,6897.651631,530.552490,3535.226177,2091.952163,830.476648

Revised 2020 demand

In [9]:
demand_2020_ced = demand.copy()
for region in CA:
    demand_2020_ced[region] = CA_scale_factor_2020 * demand_2020_ced[region]
    
#check CA sum
CA_total_demand_2020 = 0
for region in CA:
    CA_total_demand_2020 = CA_total_demand_2020 + demand_2020_ced[region].sum()

print('CA total demand in 2020 = ', CA_total_demand_2020)  

for region in notCA:
    demand_2020_ced[region] = pow(1.01, 4) * demand_2020_ced[region]

if not os.path.exists(save_dir + 'demand_v3.0_2020_ced.csv'):
    demand_2020_ced.to_csv(save_dir + 'demand_v3.0_2020_ced.csv', index=True, header=True)

CA total demand in 2020 =  295772999.99999994

Revised 2030 demand

In [10]:
demand_2030_ced = demand.copy()
for region in CA:
    demand_2030_ced[region] = CA_scale_factor_2030 * demand_2030_ced[region]
    
#check CA sum
CA_total_demand_2030 = 0
for region in CA:
    CA_total_demand_2030 = CA_total_demand_2030 + demand_2030_ced[region].sum()

print('CA total demand in 2030 = ', CA_total_demand_2030)  

for region in notCA:
    demand_2030_ced[region] = pow(1.01, 14) * demand_2030_ced[region]
    
if not os.path.exists(save_dir + 'demand_v3.0_2030_ced.csv'):
    demand_2030_ced.to_csv(save_dir + 'demand_v3.0_2030_ced.csv', index=True, header=True)

CA total demand in 2030 =  339160000.0

In [11]:
demand_2020_ced.describe()

,WA,OR,Northern_California,Bay_Area,Central_California,Southwest_California,Southeast_California,NV,AZ,UT,NM,CO,WY,ID,MT,El_Paso
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,10832.964070,6881.052895,4594.081695,5627.889334,4052.135642,11080.758604,8316.924343,4389.944636,10936.627374,2433.926052,1662.799396,5970.445989,460.205667,2982.854270,1758.127857,889.509216
std,1748.935094,1013.836377,871.235847,974.309669,755.428388,2111.183721,1515.530096,998.288180,2734.039346,332.759616,265.382424,988.399506,58.435172,552.527153,234.903836,237.571808
min,7324.247071,4879.424750,3276.622059,4023.579465,2763.149787,7486.326839,5873.747522,3039.371001,7411.114066,1411.743440,1223.096956,4196.717717,311.907522,1928.238998,1284.125364,491.169204
25%,9633.895234,6126.843377,3999.735182,4911.677347,3521.243559,9512.763476,7211.021148,3748.766850,9028.271864,2198.464252,1489.924127,5293.307331,417.467119,2612.908851,1589.622644,720.939646
50%,10723.041364,6887.637681,4420.971198,5491.212033,3919.411287,10830.751648,8073.256004,4082.423630,10091.115401,2401.158002,1608.059798,5857.085090,455.634009,2887.863329,1744.020878,828.848031
75%,11850.321023,7515.269652,4887.504264,6041.788357,4329.128750,11991.606621,8948.996294,4669.423931,12070.980326,2613.390672,1781.863846,6458.257367,496.321176,3289.860079,1904.076331,986.059386
max,16770.057424,10136.871431,8489.200989,9634.574610,7351.972232,19746.495684,14492.336255,8573.203291,20799.122047,3790.338381,2649.574466,9829.342896,662.405659,4936.363916,2547.244562,1766.534693

In [12]:
demand_2030_ced.describe()

,WA,OR,Northern_California,Bay_Area,Central_California,Southwest_California,Southeast_California,NV,AZ,UT,NM,CO,WY,ID,MT,El_Paso
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,11966.331795,7600.963274,5267.988450,6453.445536,4646.544223,12706.197280,9536.935623,4849.229974,12080.840574,2688.568568,1836.765003,6595.086738,508.353362,3294.926823,1942.066930,982.571561
std,1931.912401,1119.906093,999.037607,1117.231348,866.242328,2420.873679,1737.843506,1102.731211,3020.080354,367.573635,293.147297,1091.807963,64.548784,610.333718,259.479975,262.427075
min,8090.525367,5389.920538,3757.270398,4613.799134,3168.476777,8584.497607,6735.368710,3357.356455,8186.480571,1559.443040,1351.059959,4635.787244,344.539950,2129.975460,1418.473289,542.556370
25%,10641.813829,6767.846753,4586.457129,5632.172271,4037.775474,10908.192636,8268.807269,4140.970806,9972.828855,2428.472255,1645.803156,5847.104395,461.143416,2886.276929,1755.932344,796.365884
50%,11844.908743,7608.236974,5069.484339,6296.719015,4494.350506,12419.516754,9257.523527,4509.535467,11146.869342,2652.372256,1776.298431,6469.865781,503.303408,3189.997728,1926.484049,915.563874
75%,13090.126796,8301.533136,5604.453233,6928.059489,4964.169504,13750.657773,10261.726334,5157.948988,13333.871943,2886.809159,1968.286229,7133.933980,548.247352,3634.052233,2103.284844,1089.223015
max,18524.576475,11197.412466,9734.483565,11047.872269,8430.434497,22643.113051,16618.219933,9470.150041,22975.170403,4186.891638,2926.778578,10857.709642,731.707947,5452.816800,2813.742702,1951.353307

In [13]:
demand.describe()

,WA,OR,Northern_California,Bay_Area,Central_California,Southwest_California,Southeast_California,NV,AZ,UT,NM,CO,WY,ID,MT,El_Paso
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,10410.265544,6612.556582,4810.813511,5893.392378,4243.300444,11603.507891,8709.286132,4218.650508,10509.883941,2338.955096,1597.917537,5737.481243,442.248600,2866.464324,1689.526314,854.800873
std,1680.692249,974.276831,912.337539,1020.274003,791.066710,2210.781575,1587.027212,959.335319,2627.358073,319.775451,255.027293,949.832497,56.155051,530.967734,225.737970,228.301838
min,7038.457473,4689.031277,3431.200992,4213.397092,2893.504994,7839.504105,6150.849247,2920.775792,7121.934948,1356.657698,1175.372134,4032.963237,299.736998,1852.999776,1234.019235,472.003951
25%,9257.983961,5887.776059,4188.427924,5143.392153,3687.362831,9961.540542,7551.210506,3602.491259,8675.991806,2112.680935,1431.787801,5086.764303,401.177695,2510.954048,1527.596116,692.808829
50%,10304.631984,6618.884431,4629.536299,5750.267147,4104.314644,11341.706530,8454.122420,3923.128866,9697.363554,2307.465644,1545.313858,5628.543648,437.855327,2775.179897,1675.969784,796.506667
75%,11387.925579,7222.026419,5118.078673,6326.817629,4533.361064,12557.326355,9371.176905,4487.224618,11599.974832,2511.417069,1712.336133,6206.258390,476.954894,3161.490872,1829.779928,947.583689
max,16115.695560,9741.334200,8889.690155,10089.098275,7698.811143,20678.062458,15176.031182,8238.679852,19987.547470,3642.440683,2546.188983,9445.805323,636.558818,4743.748696,2447.851957,1697.605118

In [14]:
demand.columns

Index(['WA', 'OR', 'Northern_California', 'Bay_Area', 'Central_California',
       'Southwest_California', 'Southeast_California', 'NV', 'AZ', 'UT', 'NM',
       'CO', 'WY', 'ID', 'MT', 'El_Paso'],
      dtype='object')