In [1]:
import json
import numpy as np
import pandas as pd
from urllib.error import URLError, HTTPError
from urllib.request import urlopen

from datetime import datetime
from dateutil.parser import parse
from pandas.tseries.offsets import *

#import getEIAdata
from EIA.getEIAdata import pickDataset

In [2]:
token = '6d666bb7097e41102ef69a35aa1edb2b'
offset = 3    
start = pd.to_datetime('2015-07-01 07:00:00')
end = datetime.today()

demand_list = ['EBA.AVA-ALL.D.H',
               'EBA.AZPS-ALL.D.H',
               'EBA.BANC-ALL.D.H',
               'EBA.BPAT-ALL.D.H',
               'EBA.CHPD-ALL.D.H',
               'EBA.CISO-ALL.D.H',
               'EBA.DOPD-ALL.D.H',
               'EBA.EPE-ALL.D.H',
               'EBA.GCPD-ALL.D.H',
               'EBA.IID-ALL.D.H',
               'EBA.IPCO-ALL.D.H',
               'EBA.LDWP-ALL.D.H',
               'EBA.NEVP-ALL.D.H',
               'EBA.NWMT-ALL.D.H',  
               'EBA.PACE-ALL.D.H',
               'EBA.PACW-ALL.D.H',
               'EBA.PGE-ALL.D.H',
               'EBA.PSCO-ALL.D.H',
               'EBA.PSEI-ALL.D.H',
               'EBA.SRP-ALL.D.H',
               'EBA.SCL-ALL.D.H',
               'EBA.TEPC-ALL.D.H',
               'EBA.TIDC-ALL.D.H',
               'EBA.TPWR-ALL.D.H',
               'EBA.WALC-ALL.D.H',
               'EBA.WACM-ALL.D.H',
               'EBA.WAUW-ALL.D.H']


this = pickDataset(token, start, end, offset, demand_list)

this.head()

Downloading EBA.AVA-ALL.D.H
Downloading EBA.AZPS-ALL.D.H
Downloading EBA.BANC-ALL.D.H
Downloading EBA.BPAT-ALL.D.H
Downloading EBA.CHPD-ALL.D.H
Downloading EBA.CISO-ALL.D.H
Downloading EBA.DOPD-ALL.D.H
Downloading EBA.EPE-ALL.D.H
Downloading EBA.GCPD-ALL.D.H
Downloading EBA.IID-ALL.D.H
Downloading EBA.IPCO-ALL.D.H
Downloading EBA.LDWP-ALL.D.H
Downloading EBA.NEVP-ALL.D.H
Downloading EBA.NWMT-ALL.D.H
Downloading EBA.PACE-ALL.D.H
Downloading EBA.PACW-ALL.D.H
Downloading EBA.PGE-ALL.D.H
Downloading EBA.PSCO-ALL.D.H
Downloading EBA.PSEI-ALL.D.H
Downloading EBA.SRP-ALL.D.H
Downloading EBA.SCL-ALL.D.H
Downloading EBA.TEPC-ALL.D.H
Downloading EBA.TIDC-ALL.D.H
Downloading EBA.TPWR-ALL.D.H
Downloading EBA.WALC-ALL.D.H
Downloading EBA.WACM-ALL.D.H
Downloading EBA.WAUW-ALL.D.H

,EBA.AVA-ALL.D.H,EBA.AZPS-ALL.D.H,EBA.BANC-ALL.D.H,EBA.BPAT-ALL.D.H,EBA.CHPD-ALL.D.H,EBA.CISO-ALL.D.H,EBA.DOPD-ALL.D.H,EBA.EPE-ALL.D.H,EBA.GCPD-ALL.D.H,EBA.IID-ALL.D.H,...,EBA.PSCO-ALL.D.H,EBA.PSEI-ALL.D.H,EBA.SRP-ALL.D.H,EBA.SCL-ALL.D.H,EBA.TEPC-ALL.D.H,EBA.TIDC-ALL.D.H,EBA.TPWR-ALL.D.H,EBA.WALC-ALL.D.H,EBA.WACM-ALL.D.H,EBA.WAUW-ALL.D.H
2015-07-01 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4875.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-01 08:00:00,1192.0,4478.0,2513.0,NaN,434.0,31486.0,177.0,925.0,663.0,505.0,...,4618.0,3066.0,4103.0,873.0,1605.0,408.0,468.0,1119.0,NaN,NaN
2015-07-01 09:00:00,1108.0,4227.0,2275.0,NaN,422.0,28989.0,169.0,856.0,654.0,482.0,...,4427.0,2865.0,3897.0,833.0,1537.0,380.0,441.0,1018.0,NaN,NaN
2015-07-01 10:00:00,1058.0,4016.0,2104.0,NaN,416.0,27416.0,161.0,839.0,646.0,474.0,...,4344.0,2735.0,3694.0,802.0,1487.0,357.0,420.0,1039.0,NaN,NaN
2015-07-01 11:00:00,1024.0,3879.0,1988.0,NaN,413.0,26388.0,160.0,827.0,642.0,450.0,...,4374.0,2710.0,3590.0,796.0,1470.0,342.0,417.0,1019.0,NaN,NaN