In [1]:
import json
import numpy as np
import pandas as pd
from urllib.error import URLError, HTTPError
from urllib.request import urlopen

from datetime import datetime
from dateutil.parser import parse
from pandas.tseries.offsets import *

import sys
sys.path.append("..")

import getEIAdata

In [2]:
token = '6d666bb7097e41102ef69a35aa1edb2b'
offset = 3    
start = pd.to_datetime('2018-07-01 07:00:00')
end = datetime.today()

demand_list = ['EBA.AVA-ALL.D.H',
               'EBA.AZPS-ALL.D.H',
               'EBA.BANC-ALL.D.H',
               'EBA.BPAT-ALL.D.H',
               'EBA.CHPD-ALL.D.H',
               'EBA.CISO-ALL.D.H'
              ]


this = getEIAdata.from_download(token, start, end, offset, demand_list)

this.head()

Downloading EBA.AVA-ALL.D.H
Downloading EBA.AZPS-ALL.D.H
Downloading EBA.BANC-ALL.D.H
Downloading EBA.BPAT-ALL.D.H
Downloading EBA.CHPD-ALL.D.H
Downloading EBA.CISO-ALL.D.H

,EBA.AVA-ALL.D.H,EBA.AZPS-ALL.D.H,EBA.BANC-ALL.D.H,EBA.BPAT-ALL.D.H,EBA.CHPD-ALL.D.H,EBA.CISO-ALL.D.H
2015-07-01 08:00:00,1192.0,4478.0,2513.0,NaN,434.0,31486.0
2015-07-01 09:00:00,1108.0,4227.0,2275.0,NaN,422.0,28989.0
2015-07-01 10:00:00,1058.0,4016.0,2104.0,NaN,416.0,27416.0
2015-07-01 11:00:00,1024.0,3879.0,1988.0,NaN,413.0,26388.0
2015-07-01 12:00:00,1031.0,3821.0,1958.0,NaN,413.0,25661.0

In [3]:
dir1 = 'C:\\Users\\mlamherr\\Data\WECC_demand_2015-2018'

start = pd.to_datetime('2018-07-01 07:00:00')
end = datetime.today()
BA_list = ['BPAT','CISO','EPE']

BA_from_excel = getEIAdata.from_excel(dir1, BA_list, start, end)

BA_from_excel.head()

BPAT
CISO
EPE

                     BPAT     CISO    EPE
2018-07-01 07:00:00   NaN  26889.0  970.0
2018-07-01 08:00:00   NaN  24684.0  905.0
2018-07-01 09:00:00   NaN  23331.0  860.0
2018-07-01 10:00:00   NaN  22325.0  823.0
2018-07-01 11:00:00   NaN  21721.0  801.0