In [3]:
import json
import numpy as np
import pandas as pd
from urllib.error import URLError, HTTPError
from urllib.request import urlopen

from datetime import datetime

import sys
sys.path.append("..")

import getEIAdata

The demand list of filenames are obtained by going to 
https://www.eia.gov/opendata/qb.php?category=2122628 to see the full list of available files
and, for example, 
https://www.eia.gov/opendata/qb.php?category=2122628&sdid=EBA.AZPS-ALL.D.H to see what the series-id syntax is.

In [11]:
token = '6d666bb7097e41102ef69a35aa1edb2b'
offset = 3    
start = pd.to_datetime('2018-07-01 07:00:00')
end = datetime.today()

demand_list = [
               'EBA.BANC-ALL.D.H',
               'EBA.BPAT-ALL.D.H',
               'EBA.CHPD-ALL.D.H',
               'EBA.CISO-ALL.D.H'
              ]


this = getEIAdata.from_download(token, start, end, offset, demand_list)

this.head()

Downloading EBA.BANC-ALL.D.H
Downloading EBA.BPAT-ALL.D.H
Downloading EBA.CHPD-ALL.D.H
Downloading EBA.CISO-ALL.D.H

,EBA.BANC-ALL.D.H,EBA.BPAT-ALL.D.H,EBA.CHPD-ALL.D.H,EBA.CISO-ALL.D.H
2015-07-01 08:00:00,2513.0,NaN,434.0,31486.0
2015-07-01 09:00:00,2275.0,NaN,422.0,28989.0
2015-07-01 10:00:00,2104.0,NaN,416.0,27416.0
2015-07-01 11:00:00,1988.0,NaN,413.0,26388.0
2015-07-01 12:00:00,1958.0,NaN,413.0,25661.0

In [ ]:
this.

In [10]:
getEIAdata.HTTPError??

These files were first downloaded by clicking the demand data links in https://www.eia.gov/realtime_grid/docs/userguide-knownissues.pdf.

In [3]:
dir1 = 'L:\\Renewable Energy\\EnergyGridModeling\\Data\\Western\\demand_data\\raw\\WECC_demand_2015-2018'

start = pd.to_datetime('2018-07-01 07:00:00')
end = datetime.today()
BA_list = ['BPAT','CISO','EPE']

BA_from_excel = getEIAdata.from_excel(dir1, BA_list, start, end)

BA_from_excel.head()

BPAT
CISO
EPE

                     BPAT     CISO    EPE
2018-07-01 07:00:00   NaN  26889.0  970.0
2018-07-01 08:00:00   NaN  24684.0  905.0
2018-07-01 09:00:00   NaN  23331.0  860.0
2018-07-01 10:00:00   NaN  22325.0  823.0
2018-07-01 11:00:00   NaN  21721.0  801.0

In [10]:
sys?