TODO: why is the download version ignoring the start/end dates?

In [1]:
import json
import numpy as np
import pandas as pd
from urllib.error import URLError, HTTPError
from urllib.request import urlopen

from datetime import datetime, timedelta

import sys
sys.path.append("..")

import getEIAdata

def test_EIAdownload():
    token = '6d666bb7097e41102ef69a35aa1edb2b'
    offset = 3    
    start = pd.to_datetime('2018-07-01 00:00:00')
    end = pd.to_datetime('2018-10-01 00:00:00')
    timediff = pd.Period(end, freq='H') - pd.Period(start, freq='H')

    demand_list = [
                   'EBA.BANC-ALL.D.H',
                   'EBA.BPAT-ALL.D.H',
                   'EBA.CHPD-ALL.D.H',
                   'EBA.CISO-ALL.D.H'
                  ]
    this = getEIAdata.from_download(token, start, end, offset, demand_list)
    assert all(len(this.columns) == len(demand_list))

def test_from_excel():
    #dir1 = 'L:\\Renewable Energy\\EnergyGridModeling\\Data\\Western\\demand_data\\raw\\WECC_demand_2015-2018'
    dir1 = './'

    start = pd.to_datetime('2018-07-01 07:00:00')
    end = pd.to_datetime('2018-10-01 07:00:00')
    BA_list = ['BPAT','CISO','EPE']

    BA_from_excel = getEIAdata.from_excel(dir1, BA_list, start, end)
    assert (len(BA_from_excel.columns) == len(BA_list))

In [4]:
dir1 = './'

start = pd.to_datetime('2015-08-01 07:00:00')
end = pd.to_datetime('2015-10-01 07:00:00')
BA_list = ['BPAT','CISO','EPE']

BA_from_excel = getEIAdata.from_excel(dir1, BA_list, start, end)

this = getEIAdata.from_excel(dir1, BA_list, start, end)

BPAT
CISO
EPE
BPAT
CISO
EPE

In [5]:
this.head()

                     BPAT     CISO  EPE
2015-08-01 07:00:00  6089  32586.0    0
2015-08-01 08:00:00  5654  29894.0  974
2015-08-01 09:00:00  5374  27779.0  936
2015-08-01 10:00:00  5175  26201.0  892
2015-08-01 11:00:00  5049  25037.0  882